<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View a user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</head>

<body>
    <div style="width: 600px; margin: auto;">
        <h3 style="padding: 10px 0;">View detail a user:</h3>
        <form action="/handle-update-user" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input name="fullName" value="<%= user.name %>" type="text" class="form-control" id="name"
                    placeholder="your name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input name="email" value="<%= user.email %>" type="email" class="form-control" id="email"
                    placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address:</label>
                <textarea name="address" class="form-control" id="address" rows="2"><%= user.address %></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </form>
    </div>
</body>

</html>