<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/client/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/client/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/client/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/client/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex flex-column align-items-center vh-100 justify-content-center">
        <!-- Tiêu đề lỗi -->
        <h2 class="text-3xl font-bold mb-3 text-red-400">
            Rất tiếc! Trang bạn tìm kiếm không tồn tại.
        </h2>

        <p class="text-gray-400 mb-8 text-lg">
            Có vẻ như bạn đã đi lạc vào không gian vô định. Đừng lo lắng, hãy quay trở lại nơi an toàn!
        </p>

        <!-- Nút quay về trang chủ -->
        <a href="/" class="inline-block px-8 p-3 text-sm font-semibold uppercase transition duration-300 ease-in-out transform rounded-full
                          bg-indigo-600 hover:bg-indigo-700 hover:scale-105 shadow-lg shadow-indigo-500/50
                          focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50">
            Quay về Trang Chủ
        </a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/client/lib/easing/easing.min.js"></script>
    <script src="/client/lib/waypoints/waypoints.min.js"></script>
    <script src="/client/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/client/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/client/js/main.js"></script>
</body>

</html>